
/* Big tablets to 1200px: from 1023 to 1200px */
@media only screen and (max-width: 1200px){
	
	.row { padding: 0 2%; }
	
	.social-links li a:link,
   .social-links li a:visited {
    
	padding: 40px;
}
	
}

/* Small tablets to big tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px){
	 
	.main-nav li {
		
	margin-left: 10px;
	font-size: 60%;
		
     }
	
	.minnie-text-box {font-size: 150%}
	 
	.greeting{transform: translate(10%)}
	
	.aurthor {
		
		width: 35%;
	    right: 5%;
	}
	
	.intro {padding: 40px;}
	    
	.column {
	font-size: 80%;
	margin-left: 5%;	
	  
	  }
	
	.columnnn {
	font-size: 80%;
	margin-left: 5%;	
	  
	  }
	
	.columnn {
	font-size: 80%;
	margin-left: 5%;	

     }
	.up {padding: 70px 25px}
	
    .center {
		font-size: 150%;

	}
	
	.social-links li a:link,
    .social-links li a:visited {padding: 30px;}
	
	
}


	


/* Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px){
	
	.home li{display: none}
  
	.main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
    
	.minnie-text-box {left: 30%;}
	
	.section-features, .section-featuress, .section-featuresss {height: 160vh;}

	 .aurthor { 
		height: 30%;
		margin-top: 180px;
	    right: 0%;
	  
	}
	
	.intro { 
		margin-top: 50px;
	    font-size: 80%;
		width: 60%;
		height: 75%;
		padding: 20px;
		letter-spacing: 3px;
	
	}
	
	.about {margin-top: 50px;}
	
	.aboutme {
		
		font-size: 100%;
		margin-top: 50px;
	
	}

	.block {width: 100%}
    
	.up {padding: 35px 25px;}
	
	
	.social-links li a:link,
    .social-links li a:visited {padding: 13px}
	
	.center{font-size: 97%}
	
	
	.h2 {left: 20%}
	
	.contact-form {margin-left: 80px}

	 
}


/* Small phones: from 0px to 481px  */
@media only screen and (max-width: 481px){
	
	.home li{display: none}
	
	.main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
   
	
	
	.minnie-text-box {
	top: 40%;
	left:20%;
    
	}

    .intro { 
		
	    font-size: 80%;
		padding: 20px 10px;
	    
	   }
	
	.columnnn {margin-top: 860px;}
	
	.columnn{margin-top: 470px}
	
	.up{padding: 100px 50px}
	
	.zuluwear {display: none}
	
	.section-features{ height: 220vh} 
	
	.section-featuress{height:  260vh}
	
	.section-featuresss {height:  160vh}
	
	.section-featuresss {
	
	background-image:linear-gradient(rgba(14, 14, 56, 0.58),rgba(8, 8, 34, 0.05) ), url(img/minniee.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
   
   }
	
	.columns {margin-bottom: 150px}
	
	.center {font-size: 200%}
	
	.contact {margin-top: 400px }
	
	.social-links {left: 25%}
	
	.h2:after{margin-bottom: 10px}
	
	input[type=submit] {background-color: #910921}
	

   
}
 




/* Small phones: iphone 6/7/8plus */


@media only screen and (width: 414px) and (height: 736px) {
	
	
	
	.home li{display: none}

	
	.main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
   
	
	.minnie-text-box {
	top: 40%;
	left:20%;
    
	}

    .intro { 
		
	    font-size: 80%;
		padding: 20px 10px;
	    
	   }
	
	.columnnn {margin-top: 860px;}
	
	.columnn{margin-top: 470px}
	
	.up{padding: 100px 50px}
	
	.zuluwear {display: none}
	
	.section-features{ height: 220vh} 
	
	.section-featuress{height:  280vh}
	
	.section-featuresss {height:  180vh}
	
	.section-featuresss {
	
	background-image:linear-gradient(rgba(14, 14, 56, 0.58),rgba(8, 8, 34, 0.05) ), url(img/minniee.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
   
   }
	
	.columns {margin-bottom: 150px}
	
	.center {font-size: 200%}
	
	.contact {margin-top: 400px }
	
	.social-links {left: 25%}
	
	.h2:after{margin-bottom: 10px}
	
	input[type=submit] {background-color: #910921}
	

   
}





/* Small phones: iphone 6/7/8 */


@media only screen and (width: 375px) and (height: 667px) {
	
	
	
	.home li{display: none}

	
	.main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
   
	
	.minnie-text-box {
	top: 40%;
	left:20%;
    
	}

    .intro { 
		
	    font-size: 80%;
		padding: 20px 10px;
	    
	}
	
	.columnnn {margin-top: 860px;}
	
	.columnn{margin-top: 470px}
	
	.up{padding: 100px 50px}
	
	.zuluwear {display: none}
	
	.section-features, .section-featuress{height:  260vh}
	
	.section-featuresss {height:  220vh}
	
	.section-featuresss {
	
	background-image:linear-gradient(rgba(14, 14, 56, 0.58),rgba(8, 8, 34, 0.05) ), url(img/minniee.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
   
   }
	
	.center {font-size: 200%}
	
	.social-links {left: 25%}
	
	input[type=submit] {background-color: #910921}

   
}


/* Small phones: iphone X */


@media only screen and (width: 375px) and (height: 812px) {
	
	
	
	.home li{display: none}

	
	.main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
   
	
	.minnie-text-box {
	top: 40%;
	left:20%;
    
	}

    .intro { 
		
	    font-size: 70%;
		padding: 20px 10px;
	    
	}
	
	.columnnn {margin-top: 860px;}
	
	.columnn{margin-top: 470px}
	
	.up{padding: 100px 50px}
	
	.zuluwear {display: none}
	
	.section-features{height:  200vh}
	
	.section-featuress{height: 240vh}

	.section-featuresss {height:  180vh}
	
	.section-featuresss {
	
	background-image:linear-gradient(rgba(14, 14, 56, 0.58),rgba(8, 8, 34, 0.05) ), url(img/minniee.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
   
   }
	
	.center {font-size: 200%}
	
	.contact {margin-top: 500px }
	
	.columns {margin-bottom: 150px}
	
	.social-links {left: 25%}
	
	.h2:after{margin-bottom: 10px}
	
	input[type=submit] {background-color: #910921}

   
}





/* Small phones: from 0px to 481px and iphone 5/SE */
@media only screen  and  (width: 320px) and (height: 568px), (max-width: 374px){
	
	.home li{display: none}
	
	.main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
   
	
	
	.minnie-text-box {
	top: 40%;
	left:15%;
    }
 
	.block {height: 400%}

    .intro { 
		
	font-size: 64%;
	padding: 10px 5px;
	    
	 }
	
	.columnnn {margin-top: 600px;}
	
	.columnn{margin-top: 350px}
	
	.zuluwear {display: none}
	
	.section-featuresss {
	
	background-image:linear-gradient(rgba(14, 14, 56, 0.58),rgba(8, 8, 34, 0.05) ), url(img/minniee.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;


   }
	
	.center {font-size: 200%}
	
	.social-links {left: 25%}
	
	.h2 {
	position: relative;
	left: 20%;
	margin-top: 10px;
	margin-bottom: 30px;
		
     }
	.section-features, .section-featuress, .section-featuresss {height: 280vh;}

 
}
 
	






